obj/
moc/
dilay
dilay_debug
Makefile
archive/
i18n/*.qm
run-tests
lib/Makefile
lib/Makefile.Release
lib/Makefile.Debug
lib/libdilay.a
app/Makefile
app/Makefile.Release
app/Makefile.Debug
app/translations
test/Makefile
test/Makefile.Release
test/Makefile.Debug
valgrind.log
.qmake.stash
