<?xml version="1.0" encoding="UTF-8"?>
<config>
  <version type="integer">1</version>
  <editor>
    <background type="color">
      <r type="float">0.1</r> <g type="float">0.1</g> <b type="float">0.2</b>
    </background>

    <mesh>
      <color>
        <normal type="color">
          <r type="float">0.8</r> <g type="float">0.8</g> <b type="float">0.8</b>
        </normal>
        <wireframe type="color">
          <r type="float">0.3</r> <g type="float">0.3</g> <b type="float">0.3</b>
        </wireframe>
      </color>
    </mesh>

    <axis>
      <color>
        <normal type="color">
          <r type="float">0.3</r> <g type="float">0.3</g> <b type="float">0.4</b>
        </normal>
        <label type="color">
          <r type="float">1.0</r> <g type="float">1.0</g> <b type="float">1.0</b>
        </label>
      </color>
    </axis>

    <light>
      <light1>
        <direction type="vector3f">
          <x type="float">-0.2</x> <y type="float">1.0</y> <z type="float">0.2</z>
        </direction>
        <color type="color">
          <r type="float">1.0</r> <g type="float">1.0</g> <b type="float">1.0</b>
        </color>
        <irradiance type="float">0.7</irradiance>
      </light1>
      <light2>
        <direction type="vector3f">
          <x type="float">0.0</x> <y type="float">0.0</y> <z type="float">1.0</z>
        </direction>
        <color type="color">
          <r type="float">1.0</r> <g type="float">1.0</g> <b type="float">1.0</b>
        </color>
        <irradiance type="float">0.8</irradiance>
      </light2>
    </light>

    <octree>
      <node-capacity type="integer">1000</node-capacity>
    </octree>

    <camera>
      <gaze-point type="vector3f">
        <x type="float">0.0</x> <y type="float">0.0</y> <z type="float">0.0</z>
      </gaze-point>
      <eye-point type="vector3f">
        <x type="float">0.0</x> <y type="float">0.0</y> <z type="float">600.0</z>
      </eye-point>
      <up type="vector3f">
        <x type="float">0.0</x> <y type="float">1.0</y> <z type="float">0.0</z>
      </up>
      <near-clipping type="float">0.1</near-clipping>
      <far-clipping type="float">10000.0</far-clipping>
      <rotation-factor type="float">1.0</rotation-factor>
      <panning-factor type="float">1.0</panning-factor>
      <zoom-in-factor type="float">0.5</zoom-in-factor>
    </camera>
  </editor>
</config>
