editor : 
  background-color             : [ 0.1, 0.1, 0.3 ]
  initial-mesh-color           : [ 0.8, 0.8, 0.8 ]
  initial-mesh-wireframe-color : [ 0.3, 0.3, 0.3 ]

  ambient                      : [ 0.0, 0.0, 0.0 ]

  light1 :
    position                   : [ 1.0, 0.0, 1.0 ]
    color                      : [ 0.8, 0.8, 0.8 ]
    irradiance                 : 1.0

  light2 :
    position                   : [-1.0, 0.0, 1.0 ]
    color                      : [ 0.8, 0.8, 0.8 ]
    irradiance                 : 1.0

  octree :
    node-capacity : 1000
